* {
    box-sizing: border-box;
}

body {
    background-color: #24353f;
    height: 100vh;
}

.main {

    padding-top: 80px;
}

.box {
    padding: 50px 50px 20px 50px;
    width: 55%;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 80px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.nav-logout {
    cursor: pointer;
    position: relative;
}

.nav-logout::after {
    content: "";
    position: absolute;
    height: .5px;
    width: 50px;
    background-color: white;
    transform: translateX(-50%);
}


h2 {
    padding: 50px 0;
    letter-spacing: 3px;
    line-height: 50px;
}