* {
    box-sizing: border-box;
}

body {
    background-color: #24353f;
    height: 100vh;
}

.main {

    padding-top: 80px;
}

.box {
    padding: 50px 50px 20px 50px;
    width: 55%;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 80px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.box h1 {
    color: #17a2b8;
}

.form-control:focus {
    color: #fff;
    background-color: transparent;
    border-color: #80bdff;
    box-shadow: none;
}

.input input {
    background-color: transparent;
    border-color: white;
    color: #fff;
}

.myBtn {
    width: 100%;
    padding: 4px 0;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    transition: all .3s;
}

.myBtn:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.my-link p {
    color: #fff;
    position: relative;
}

.my-link a {
    text-decoration: none;
    color: #fff;
}

.my-link a:hover {
    text-decoration: underline;
}